[Unit]
Description=awning web server

[Service]
ExecStart=/usr/local/bin/node /home/papiro/awningJS/bin/awning
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=awning
WorkingDirectory=/home/papiro

[Install]
WantedBy=multi-user.target
