[Unit]
Description=awning: web server

[Service]
ExecStart=/usr/local/bin/node /home/pierre/Workspace/awning/intro
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=awning
WorkingDirectory=/home/pierre

[Install]
WantedBy=multi-user.target
